   <div class="modal-body">
            <form action="/Aproject" method="POST" enctype="multipart/form-data" class="membership-form webform" role="form">
                <input type="text" class="form-control"value="{{user.name}}" name="work" >
 <input type="file" name="uploaded_image" id="image"  placeholder="" value="{{user.image}}" class="form-control">

        
                <input type="text" class="form-control" rows="3" name="description" value="{{user.description}}" placeholder="Additional Message">

                <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>

            </form>
                {{#if message }}
         <h4 class="alert alert-danger mt-4">{{message}}</h4>
	 {{/if}}
          </div>